body {
    background-color: aliceblue;
    text-align: center;
    font-family: Verdana, sans-serif;
    color: darkmagenta;
    }
 span.cbv {
    color: crimson;
}
 span.fbv {
    color: dodgerblue;
}

 button {
     margin-top: 30px;
     padding: 10px 14px;
     border-radius: 5px;
 }

 .btn-fbv {
     background-color: dodgerblue;
 }
 .btn-fbv:hover {
     background-color: deepskyblue;
 }
  .btn-cbv {
     background-color: crimson;
 }
  .btn-cbv:hover {
     background-color: #f82750;
 }

  a {
      text-decoration: none;
      color: black;
  }
  .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  h1, h2, h3, ul {
      display: inline;
  }
  .user {
      color: crimson;
  }
  .is {
      color: crimson;
      font-weight: bolder;
  }



