   {% extends 'base.html' %}
   {% block title %}
       <title>Home</title>
   {% endblock %}
   {% block content %}
   <h2>This is home page</h2>
       <a href="{% url 'model-forms' %}">Model form</a>
   {% if name  %}
       <h3>Hello {{ name }}</h3>
       <h3>You are {{ age }} old, {{ level }} developer.</h3>
   {% else %}
       <h3>Please insert your name</h3>
   {% endif %}
   <form action="{% url 'home' %}" method="post">
       {{ form }}
       {% csrf_token %}
       <button type="submit">Send</button>
   </form>
   {% endblock %}
