<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=\, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/styles/styles.css"/>
    <title>Fruitipedia</title>
</head>
<body>
<div id="wrapper">
    {% include 'nav.html' %}

    <main>

        <!-- Create Profile Form -->
        <section id="register">
            <div class="form">
                <h2>Create Profile</h2>
                <form class="register-form" action="{% url 'profile-create' %}" method="post">
                    {{ form }}
                    {% csrf_token %}
{#                    <input#}
{#                            type="text"#}
{#                            name="first-name"#}
{#                            id="first-name"#}
{#                            placeholder="First Name"#}
{#                    />#}
{#                    <input#}
{#                            type="text"#}
{#                            name="last-name"#}
{#                            id="last-name"#}
{#                            placeholder="Last Name"#}
{#                    />#}
{#                    <input#}
{#                            type="email"#}
{#                            name="email"#}
{#                            id="register-email"#}
{#                            placeholder="Email"#}
{#                    />#}
{#                    <input#}
{#                            type="password"#}
{#                            name="password"#}
{#                            id="register-password"#}
{#                            placeholder="Password"#}
{#                    />#}

                    <button type="submit">Create</button>

                </form>
            </div>
        </section>

    </main>
</div>
<!-- footer -->
<footer>
    <p>@Fruitipedia - SoftUni Team 2023. All rights reserved.</p>
</footer>
</body>
</html>